body {
    margin: 0;
    font-family: Georgia, serif;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

.content-container:nth-of-type(2) {
    background-color: #080808;
    color: white;
}

.info-content {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
}

.info-content p {
    text-align: left;
}

.info-content .fa {
    font-size: 60px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    display: block;
    width: calc(100% - 30px);
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
    padding-bottom: 10px;
}

.flex {
    display: -moz-flex;
    -moz-flex-direction: row;

    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

.flex > div {
    display: inline-block;
    flex-wrap: wrap;
    -moz-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.nav-content {
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;;
}

.navbar {
    width: 100%;
    height: 48px;
    font-size: 24px;  
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #080808;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
}

.logo {
    display: inline;
    float: left;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navs-container {
    display: inline;
    float: right;
    padding: 10px;
}

.navs-container ul {
    display:inline;
    height: auto;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.navs-container li {
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a {
    color: #A3A3A3;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar a:link, .navbar a:visited {
    text-decoration: none;
}

.navbar a:hover, .navbar a:active {
    color: #F5F5F5;
    text-decoration: none;
}

.hamburger {
    display: none;
}

.fa-angle-right {
    display: none;
}

.circle-photo {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 6px 6px 20px -5px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px 6px 20px -5px rgba(0,0,0,0.4);
    box-shadow: 6px 6px 20px -5px rgba(0,0,0,0.4);
}

#about-photo-container {
    min-width: 40%;
    max-width: 40%;
    width: 40%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#about-photo {
    max-width: 360px;
    max-padding-top: 360px;
}

#intro {
    width: calc(60% - 15px);
    font-size: 24px;
    margin-left: 15px;
}

#hi {
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100px;
}

.content-container {
    margin: 0;
    z-index: -1;
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid black;
}

.articles-list {
    list-style: none;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.articles-list li {
    margin-bottom: 15px;
}

.articles-list a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}

p a:link, p a:visited, p a:hover, p a:active {
    text-decoration: underline;
}

a {
    color: inherit;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.articles-list a:hover, .articles-list a:active {
    border-bottom: solid 1px #080808;
}

.project-photo {
    height: auto;
    position: relative;
    width: calc((100% - 90px) / 3);
    min-width: calc((100% - 90px) / 3);
    max-width: calc((100% - 90px) / 3);
    -webkit-box-shadow: 0px 10px 8px -4px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 8px -4px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 8px -4px rgba(0,0,0,0.4);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

.project-photo:last-child {
    margin-left: auto;
    margin-right: auto;
}

.project-info {
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
}

.project-info.mouseover {
    visibility: visible;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


picture {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

source, img {
    max-width: 100%;
    max-height: 100%;
}


.content > .header {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.post-title {
    width: 100%;
    font-size: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0;
}

.post-date {
    width: 100%;
    color: #A3A3A3;
    margin-top: 0;
    font-size: 24px;
}

.article-content {
    width: 100%;
    line-height: 33px;
    font-size: 22px;
    word-wrap: break-word;
}


@media screen and (min-width: 1310px) {
    .content, .nav-content {
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    .info-content {
        font-size: 16px;
    }

    .info-content .fa {
        font-size: 100px;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }

    .post-title {
        font-size: 60px;
    }
}

@media screen and (min-width: 700px) {
    .article-content {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .post-title {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .post-date {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 615px) {
    .articles-list a {
        font-size: 16px;
    }

    .post-title {
        font-size: 30px;
    }

    .post-date {
        font-size: 16px;
    }

    .navs-container {
        display: none;
        padding: 0;
        margin-top: -2px;
        width: 100%;
        background-color: white;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
    }

    .navs-container ul {
        display: table;
        width: 100%;
    }

    .navs-container li {
        width: 100%;
    }

    .hamburger {
        display: inline;
    }

    .fa-angle-right {
        display: inline-block;
        float: right;
        margin-right: 32px;
    }

    .navs-container a {
        display: block;
        padding: 15px;
        width: 100%;
    }

    .navs-container a:hover, .navs-container a:active {
        color: #080808;
        text-decoration: none;
        background-color: inherit;
    }

    .navbar {
        height: 56px;
    }

    .navbar.open {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .hamburger {
        float: right;
        position: relative;
        height: 56px;
        width: 56px;
        padding: 0px;
    }

    .hamburger span {
        margin: 0;
        padding: 0;
        display: block;
        position: absolute;
        width: 42px;
        height: 6px;
        background-color: #F5F5F5;
        opacity: 1;
        left: 8px;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .hamburger a {
        display: inline-block;
        margin: 0;
        padding: 28px;
    }

    .hamburger #line1 {
        top: 6px;
    }

    .hamburger #line2 {
        top: 24px;
    }

    .hamburger #line3 {
        top: 42px;
    }

    .hamburger.open #line1 {
        top: 24px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .hamburger.open #line2 {
        width: 0px;
    }

    .hamburger.open #line3 {
        top: 24px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}



@media screen and (max-width: 920px) {
    .project-photo {
        width: calc(50% - 30px);
        max-width: calc(50% - 30px);
        min-width: calc(50% - 30px);
    }

    .info-content {
        font-size: 16px;
    }

    .articles-list a {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .info-content {
        font-size: 14px;
    }
}

@media screen and (max-width: 760px) {
    .info-content {
        font-size: 12px;
    }
}

@media screen and (max-width: 680px) {
    #about-photo-container {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    #intro {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin: 0px;
    }

    #erb-info {
        margin-top: 8%;
    }

    #rusty-info {
        margin-top: 30%;
    }

    .project-photo {
        width: calc(100% - 30px);
        min-width:  calc(100% - 30px);
        max-width: calc(100% - 30px);;
    }

    .project-info {
        visibility: visible;
        opacity: 1;
    }

    .info-content .fa {
        font-size: 75px;
        color: white;
        margin: 30px;
    }

    .info-content h2 {
        margin: 0;
        margin-top: 15px;
        font-size: 50px;
    }

    .info-content p {
        display: none;
    }


    #hi {
        text-align: center;
    }

    .content {
        width: calc(100% - 30px);
        margin: 15px;
    }
}

@media screen and (max-width: 460px) {
    .info-content h2 {
        font-size: 30px;
    }

    .info-content .fa {
        margin: 15px;
        font-size: 50px;
    }
}