<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.url }}/css/font-awesome-4.3.0/css/font-awesome.min.css" type='text/css'>
    <link rel="stylesheet" href="{{ site.url }}/css/main.css" type='text/css'>
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="navbar"><!--
        --><div class="nav-content"><!--
            --><div class="logo"><a href="{{ site.url }}/">Keegan Parker</a></div><!--
            --><div class="hamburger"><a id="menu"><span id="line1"></span><span id="line2"></span><span id="line3"></span></a></div><!--
            --><div class="navs-container"><!--
                --><ul><!--
                    --><li><a id="articles-link" href="{{ site.url }}/articles.html">Articles<i class="fa fa-angle-right"></i></a></li><!--
                    --><li><a id="resume-link" href="{{ site.url }}/resume.pdf">Resume<i class="fa fa-angle-right"></i></a></li><!--
                    --><li><a id="github-link" href="https://github.com/kdparker"><i class="fa fa-github"></i><i class="fa fa-angle-right"></i></a></li><!--
                    --><li><a id="linkedin-link" href="https://ca.linkedin.com/in/keeganparker"><i class="fa fa-linkedin"></i><i class="fa fa-angle-right"></i></a></li><!--
                    --><li><a id="twitter-link" href="https://twitter.com/KeeganDParker"><i class="fa fa-twitter"></i><i class="fa fa-angle-right"></i></a></li><!--
               --></ul><!--
            --></div><!--
        --></div><!--
    --></div>
    <div class="body">